<table mat-table [dataSource]="dataSource" matSort
       class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        No
    </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        description
    </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      department
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="warn" (click)="handleDel(element.id)">DELETE</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="button-bar">
    <button mat-raised-button color="primary"(click)="openDialog()">CREATE</button>
  </div>