<mat-toolbar>
  <button
    mat-icon-button
    class=""
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>WorkFlow Management</span>
  <span class="example-spacer"></span>
  <span class="p-1">Hi {{ fullName }}</span>
  <button
    mat-raised-button
    class="favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="onLogOut()"
  >
    <mat-icon>logout</mat-icon>
    <b>Log out</b>
  </button>
</mat-toolbar>
