<footer class="mat-elevation-z2 border-top">
  <div class="footer-content mat-body-1 ">
    <span class="">&copy; {{ currentYear }} The College of Information and Communication Technology </span>
  </div>
  <div class="footer-content">
    <span class="">Version: {{ appVersion }}</span>
  </div>
</footer>
