@import "../../styles.scss";

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $workflow-white-color;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 50px;
  // background-color: #f5f5f5;
}