<form [formGroup]="projectForm" class="project-form">
  <mat-form-field appearance="fill" >
    <mat-label>name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>dateStart</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateStart">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>department</mat-label>
    <mat-select [(value)]="departmentId">
      <mat-option
        *ngFor="let department of (selectDepartMents$ | async)"
        [value]="department['id']"
        >
        {{department['description']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 <button mat-button type="submit" (click)="handleSave()">Submit</button>
</form>