.create-form{
    padding: 30px;
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }
}
.project-form {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}