<form [formGroup]="projectForm" class="project-form">
  <mat-form-field appearance="fill" >
    <mat-label>name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>status</mat-label>
    <mat-select [(value)]="statusId">
      <mat-option
        *ngFor="let department of status"
        [value]="department"
        >
        {{department}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>priority</mat-label>
    <mat-select [(value)]="priorityId">
      <mat-option
        *ngFor="let department of priority"
        [value]="department"
        >
        {{department}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Semester</mat-label>
    <mat-select [(value)]="semesterId">
      <mat-option
        *ngFor="let department of selectSemester$ | async"
        [value]="department['id']"
        >
        {{department['name']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Project</mat-label>
    <mat-select [(value)]="projectId">
      <mat-option
        *ngFor="let department of selectProject$ | async"
        [value]="department['id']"
        >
        {{department['name']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Department</mat-label>
    <mat-select [(value)]="departmentId">
      <mat-option
        *ngFor="let department of selectDepartMents$ | async"
        [value]="department['id']"
        >
        {{department['name']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Label</mat-label>
    <mat-select [(value)]="labelId">
      <mat-option
        *ngFor="let department of selectLabel$ | async"
        [value]="department['id']"
        >
        {{department['name']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 
 <button mat-button type="submit" (click)="handleSave()">Submit</button>
</form>