<mat-accordion class="example-headers-align" >
  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Name
      </mat-panel-title>
      <mat-panel-description>
        Desc
      </mat-panel-description>
      <mat-panel-description>
        Status
      </mat-panel-description>
      <mat-panel-description>
        Priority
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  </mat-expansion-panel>

</mat-accordion>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel
    *ngFor="let i of tasks$ | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{i.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{i.description}}
      </mat-panel-description>
      <mat-panel-description>
        {{i.status}}
      </mat-panel-description>
      <mat-panel-description>
        {{i.priority}}
      </mat-panel-description>
    </mat-expansion-panel-header>
  
  <form [formGroup]="group">
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput [value]="i.name">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>description</mat-label>
      <input matInput [value]="i.description">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>status</mat-label>
      <mat-select [(value)]="i.status">
        <mat-option
          *ngFor="let department of status"
          [value]="department"
          >
          {{department}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>priority</mat-label>
      <mat-select [(value)]="i.priority">
        <mat-option
          *ngFor="let department of priority"
          [value]="department"
          >
          {{department}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{i.semester['name']}}</mat-label>
      <mat-select [value]="i.semester['name']">
        <mat-option
          *ngFor="let department of selectSemester$ | async"
          [value]="department['id']"
          >
          {{department['name']}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{i.project['name']}}</mat-label>
      <mat-select [(value)]="i.project['name']">
        <mat-option
          *ngFor="let department of selectProject$ | async"
          [value]="department['id']"
          >
          {{department['name']}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{i.department['name']}}</mat-label>
      <mat-select [(value)]="i.department['name']">
        <mat-option
          *ngFor="let department of selectDepartMents$ | async"
          [value]="department['id']"
          >
          {{department['name']}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{i.label['description']}}</mat-label>
      <mat-select [(value)]="i.label['description']">
        <mat-option
          *ngFor="let department of selectLabel$ | async"
          [value]="department['id']"
          >
          {{department['name']}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  </mat-expansion-panel>
</mat-accordion>