<h1 mat-dialog-title>WARNING</h1>
<div mat-dialog-content>do you really want to delete this field?</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button (click)="onNoClick()">CANCEL</button>
    <button mat-button mat-raised-button color="primary" mat-dialog-close>Ok</button>
</div>