<div>
  <ng-container *ngIf="projectsLoading$ | async; else showTable">
    <mat-spinner>
    </mat-spinner>
  </ng-container>
  <ng-template #showTable>
    <table mat-table [dataSource]="dataSource" matSort
           class="mat-elevation-z8">

      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>

        <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          description
        </th>
        <td mat-cell *matCellDef="let element" > {{element.description}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="dateStart">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
          dateStart
        </th>
        <td mat-cell *matCellDef="let element"> {{element.dateStart}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          department
        </th>
        <td mat-cell *matCellDef="let element"> {{element.department.name}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          department
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="handleDel(element.id)">DELETE</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>

    <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator> -->
  </ng-template>
</div>
<div class="button-bar">
  <button mat-raised-button color="primary"(click)="openDialog()">CREATE</button>
</div>