<form [formGroup]="labelForm" class="project-form">
    <mat-form-field appearance="fill" >
      <mat-label>name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
   <button mat-button type="submit" (click)="handleSave()">Submit</button>
  </form>