<div class="main">
    <mat-drawer-container class="wrapper">
        <mat-drawer class="navbar" mode="side" opened>
            <mat-list role="list">
                <mat-list-item role="listitem" class="list-item">
                    <button class="link-button" mat-button routerLink="/task" routerLinkActive="active">task</button>
                </mat-list-item>
                <mat-list-item role="listitem" class="list-item">
                    <button class="link-button" mat-button routerLink="/project" routerLinkActive="active">project</button>
                </mat-list-item>
                <mat-list-item role="listitem" class="list-item">
                    <button class="link-button" mat-button routerLink="/department" routerLinkActive="active">department</button>
                </mat-list-item>
                <mat-list-item role="listitem" class="list-item">
                    <button class="link-button" mat-button routerLink="/label" routerLinkActive="active">label</button>
                </mat-list-item>
              </mat-list>
        </mat-drawer>
        <mat-drawer-content class="content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>