.main{
    .wrapper{
        height:100vh;
    }
    .navbar{
        width: 20%;
    }
    .content {
        width: 80%;
    }
    .list-item {
        width: 100%;
        .link-button {
            width: 100%;
        }
        .active {
            background-color: #f5f5f5;
        }
    }
}
