/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$workflow-primary-color: #02a9f7;
$workflow-warning-color: #ff9900;
$workflow-error-color: #fc4a1a;
$workflow-black-color: #424242;
$workflow-white-color: #ffffff;
$workflow-yellow-color: #fff02b;
$workflow-green-color: #2ecc71;
$workflow-light-grey-color: #f7f7f7;
$workflow-grey-color: #b3bac5;

$workflow-primary-color-with-10-percent: #e5f6fe;
$workflow-red-color-with-70-percent: #fd805e;
$workflow-green-color-with-70-percent: #6cdb9b;
$workflow-grey-color-with-70-percent: #7a7a7a;

$workflow-overlay-color: rgba(0, 0, 0, 0.4);

$workflow-cell-color: #b3e5fd;
$workflow-color: #4dc3f9;
$workflow-hover-color: #35baf9;
$workflow-focus-color: #1bb1f8;
$workflow-active-color: #02a9f7;

$workflow-inactive-color: #7a7a7a;
$workflow-inactive-hover-color: #6868685e;
$workflow-inactive-focus-color: #555555;
$workflow-inactive-active-color: #424242;

$workflow-label-color: #9e9e9e;